* {
  padding:0px;
  margin:0px;
  border:0px;

  border-collapse: collapse;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

svg path {
  fill: none;
  stroke: purple;
  stroke-width: 10;
  stroke-linejoin: round;
}