*{
  padding:0px;
  margin:0px;
  border:0px;
  font-weight: 300;

  border-collapse: collapse;
  box-sizing: border-box;
  vertical-align: top;

  font-family: 'helvetica', sans-serif, cursive;

  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

html,body{
  height: 100%;
}



:host{
  background-color: #eee;

  padding: 0px;
  border: 0px;
  margin: 0px;
  font-weight: 300;

  border-collapse: collapse;
  box-sizing: border-box;
  vertical-align: top;

  font-family: 'Quicksand', cursive;

  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  user-select: none;
  overflow: hidden;
}
/***** header *****/

header {
  /* background: #eee; */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}
#header_settings{
  background: #fff;

  transition: 0.2s;
  flex:1;

  align-items: center;
}
header audio,
header select {
  color: #ccc;

  font-size: 16px;

  text-decoration: none;
}

header div.div_title{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  flex:1;
}
header div.div_title span{
  color: #333;

  text-decoration: none;
}

header div.div_title span:nth-child(1){
  font-size: 22px;

  /* font-weight: bold; */
}
header div.div_title #version,
header div.div_title #date {
  /* color: #ccc; */

  /* padding: 0px 2px; */
  font-size: 10px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-align: center;
}

header div:last-child {
  justify-content: flex-end;
}

header .div_audio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

header select {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(154, 181, 209);

  border: 0px;
  font-size: 14px;

  cursor: pointer;
}

header select option {
  background: #222;
  color: #eee;
}
header a{
  font-size: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
header a span{
  padding: 5px;
  
  text-transform: uppercase;
}
header button#bt_hideHeader iron-icon{
  width: 16px;
}
header button#bt_hideHeader{
  background: #fafafa;
  padding: 0px 10px;
  /* margin:0px auto; */
  width:40px;

  cursor: pointer;
}

#div_setIO:hover{
  opacity: 1;
}
#div_setIO{
  color: #333;

  opacity: 0.7;
  font-size: 12px;
  padding: 0px 20px;
  
  display: flex;
  flex-direction: row;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 5px;
}

header .span_gainLevel {

  font-size: 12px;

  align-self: flex-end;
}

/***** https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag *****/

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  background: transparent;
  color: #888;
}

input[type=range] {
  /* -webkit-appearance: none; */
  background: #ccc;
  height: 2px;
  width: 50px;
  border-radius: 8px;
}

input[type=range]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  background: dodgerblue;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: ew-resize;
}

/* devices midi learn */

#divSoundIn,
#divAudioPlayer{
  top: 44px;
}

#divSoundIn {
  background: #222;

  position: absolute;
  right: 0px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}

#divSoundIn span{
  color: #777;

  font-size: 12px;
}
#divSoundIn span.span_tuto {
  padding: 10px;
}

#divSoundIn span#span_time {
  color: tomato;
}

#microDevices:hover {
  background: #222;
}

#microDevices {
  padding: 10px;

  cursor: pointer;
}


#divAudioPlayer{
  background: #222;
  position: absolute;
  right:0px;

  padding: 10px;
}
.select_devices {
  border: 1px solid #555;

  padding: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
}

#bt_learn:hover {
  background: #B71C1C;
}

#bt_learn {
  background: #841919;
  color: #eee;

  border-radius: 50px;
  width: 40px;
  margin: 0px 10px;

  text-transform: capitalize;
  cursor: pointer;
}

.mic_open {
  background: #222;
}


canvas {
  background: #000;
}

.hidden {
  display: none ! important;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}

@keyframes zoomeffect {
  0% {
    filter: blur(0px);
    transform: scale(1, 1);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0px);
    transform: scale(2, 2);
  }
}

@keyframes dezoomeffect {
  0% {
    filter: blur(0px);
    transform: scale(2, 2);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0px);
    transform: scale(1, 1);
  }
}

.div_settings{
  display: flex;
}
.div_settings a:hover,
.div_settings button:hover {
  background: #222;
}
.div_settings a, 
.div_settings button {
  background: transparent;
  color: #ccc;

  border:0px;
  padding: 10px;
  
  cursor: pointer;
}
.div_settings a iron-icon,
.div_settings button iron-icon{
  width: 20px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  
  top: 20%;
  left: 52%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



