 * {
  padding: 0px;
  border: 0px;
  margin: 0px;

  border-collapse: collapse;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  vertical-align: top;
  font-weight: 300;
}

*:focus {
  outline: 0;
}


/* #div_dialog.hidden */
.hidden{
  display: none !important;
}
#div_dialog{
  background:#222;

  width:40%;
  margin:0 auto;
  position: absolute;
  top:44px;
  right: 0px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  z-index: 999;
}

#div_dialog button{
  cursor: pointer;
  text-transform: uppercase;
}

#div_dialog header{
  display: flex;
  flex-direction: row;
}
#div_dialog header span{
  color: #eee;

  padding: 10px;
  flex: 1;

  text-align: left;
}
#div_dialog header button{
  background: transparent;
  color: #eee;

  padding: 10px;
}

#div_dialog main{
  background: #555;

  display: flex;
  flex-direction: row;
}

#div_dialog main aside{
  display: flex;
  flex-direction: column;
}
#div_dialog main aside button:hover{
  background: #ccc;
}
#div_dialog main aside button{
  background: #eee;

  flex: 1;
  padding: 10px;
}
#div_dialog main aside ul{
  flex: 1;

  list-style: none;
  display: flex;
  flex-direction: column;
}
#div_dialog main aside nav#nav_banks{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#div_dialog main aside nav#nav_banks a.a_selected{
  background:dodgerblue !important;
  color: #fff;
}
#div_dialog main aside nav#nav_banks a:hover{
  background:#03a9f4;
  color: #fff;
  text-indent: 5px;
}
#div_dialog main aside nav#nav_banks a{
  background:#333;
  color: #ccc;

  font-size: 16px;
  padding: 10px;
  margin-top:5px;
  min-width:100px;

  text-decoration: none;
  text-align: left;
  text-indent: 0px;
  transition: 0.4s;
}


#div_dialog main section nav#nav_presets{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#div_dialog main section nav#nav_presets a.a_selected{
  background:orange !important;
  /* color: #fff; */
}
#div_dialog main section nav#nav_presets a:hover{
  background: #eee;
}
#div_dialog main section nav#nav_presets a{
  background: #444;
  color: #ccc;

  font-size: 14px;
  padding: 10px 20px;
  margin: 2px;

  text-decoration: none;
}

#div_dialog main section{
  flex: 1;

  display: flex;
  flex-direction: column;
}
#div_dialog main section ul{
  flex: 1;

  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#div_dialog footer{
  display: flex;
  flex-direction: row;
}
#div_dialog footer button:hover{
  background: dodgerblue;
  color: #fff;
}
#div_dialog footer input{
  background: #333;
  color:#eee;

  font-size: 16px;
  flex: 1;
}
#div_dialog footer input,
#div_dialog footer button{
  padding: 10px;
}

#div_dialog footer button{
  margin-left:2px;
}

#bt_saveLoad:hover {
  background: #222;
}

#bt_saveLoad {
  background: transparent;
  color: #ccc;

  padding: 10px;

  cursor: pointer;
}
#bt_saveLoad iron-icon{
  width: 20px;
}


.helper{
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  margin-right : 10px;

}
hr{
  color:#000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;

  top: 20%;
  left: 52%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}