canvas {
	display: block;
	background: rgb(85, 85, 85);
  border:2px solid rgb(135, 135, 135);
  height: 130px;
	width: 95%;
}

li.flex-item {
  border:2px solid rgb(135, 135, 135);
  height:130px;
}



#buttonList{
  display: flex;
  align-content: flex-start;
}

/* iron-icon from multi-track are now white. */
iron-icon{
  fill: #fff;
  width:24px;
  height:24px;
}

button:not(.titleclass) img { 
  width: 20px;
  height: 20px;
}


button {
  border: 0px;
  background-color : #333;
  outline:0;
}

.flex-container {

  list-style: none;
  display: flex;
  align-content: flex-start;
}

#can {
  height : 100px;
  width : 95%;
}

#title_content{
  color:white;
  font-weight: bold;
  padding: -2px -2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: grab;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 
}
