canvas {
	display: block;
	background: rgb(85, 85, 85);
  border:2px solid rgb(135, 135, 135);
  height: 130px;
	width: 95%;
}

li.flex-item {
  border:2px solid rgb(135, 135, 135);
  height:130px;
}

#nameTrack{
  color:white;
  font-weight: bold;
}

#buttonList{
  display: flex;
  align-content: flex-start;
}

/* iron-icon from multi-track are now white. */
iron-icon{
  fill: white;
}

button img { 
  width: 25px;
  height: 25px;
}

button {
  border: 0px;
  background-color : #333;
}

.flex-container {

  list-style: none;
  display: flex;
  align-content: flex-start;
}

#can {
  height : 100px;
  width : 95%;
}

#test {
 width : 100px;
  height : 100px;
}
