*
{
	padding: 0px;
	border: 0px;
	margin: 0px;

	border-collapse: collapse;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	vertical-align: top;
	font-weight: 300;
}

*:focus
{
	outline: 0;
}
.hidden
{
	display: none !important;
}

#container
{
	background:#222;

	width:40%;
	margin:0 auto;
	position: absolute;
	top:44px;
	right: 0px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	z-index: 999;
}

#oauth
{
	background : white;
	padding: 10px;
}

#github
{
	cursor: pointer;

	padding: 2px;
	border-radius: 2px
}

* #oauth
{
	display : inline-flex
}

#theForm
{
	/* visibility: hidden */
}

#google
{
	color : white;
	background-color: rgb(220, 55, 48);
	cursor: pointer;

	padding: 2px;
	border-radius: 2px
}